## Setup

In [ ]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

GOLD_PATH = '/home/lucas-nunes/workspace/Postech/challenges/2_ibov/data/gold'

LIST_COLUMNS_DF_FILTER = ['data', 'ultimo']

# Verify Spark version
print("Spark version: ", spark.version)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/24 23:53:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/02/24 23:53:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Spark version:  3.5.4

25/02/24 23:53:23 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

## Read

In [2]:
df = pd.read_parquet(f'{GOLD_PATH}/gold.parquet')

In [3]:
df

,data,ndx,us30,ouro,ibrx100,FTXIN9,ibrx50,spx,bitcoin,ibov,...,prata,us500,petroleo,eur_brl,usd_brl,cobre,vix,STOXX50E,ethereum,ferro
0,1982-01-07,NaN,861.799988,402.000000,NaN,NaN,NaN,118.900002,NaN,0.0,...,8.430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1982-01-08,NaN,866.500000,397.500000,NaN,NaN,NaN,119.599998,NaN,0.0,...,8.330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1982-01-11,NaN,850.500000,388.000000,NaN,NaN,NaN,116.800003,NaN,0.0,...,8.210000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1982-01-12,NaN,847.700012,390.000000,NaN,NaN,NaN,116.300003,NaN,0.0,...,8.230000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1982-01-13,NaN,839.000000,379.600006,NaN,NaN,NaN,114.900002,NaN,0.0,...,8.020000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16128,2025-02-10,21756.730469,44407.000000,2934.399902,53180.679688,NaN,21276.880859,6066.439941,97434.703125,125572.0,...,32.491001,6055.000000,75.870003,5.9645,5.7874,9468.0,15.81,5358.299805,2661.000000,106.970001
16129,2025-02-11,21693.519531,44603.500000,2932.600098,53583.789062,NaN,21420.890625,6068.500000,95771.703125,126522.0,...,32.321999,6070.000000,77.000000,5.9710,5.7635,9362.0,16.02,5390.910156,2603.110107,106.320000
16130,2025-02-12,21719.259766,44439.398438,2928.699951,52683.171875,NaN,21064.449219,6051.970215,97881.296875,124380.0,...,32.785000,6063.700195,75.180000,5.9851,5.7649,9483.0,15.89,5405.649902,2735.909912,107.260002
16131,2025-02-13,22030.710938,44718.500000,2945.399902,NaN,NaN,21135.779297,6115.069824,96610.203125,124850.0,...,32.726002,6114.700195,75.019997,6.0345,5.7669,9487.0,15.10,5500.500000,2675.300049,106.769997
16132,2025-02-14,22114.689453,44540.000000,2900.699951,NaN,NaN,21712.529297,6114.629883,97504.601562,128219.0,...,32.855000,6114.899902,74.739998,5.9843,5.7042,9474.0,14.77,5493.399902,2725.510010,106.830002